<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="wrapper red">
        <nav>
          <div class="logo">Color Flipper</div>
          <button class="simple_color active">Simple color</button>
          <button class="hex_color">Hex color</button>
        </nav>
        <div class="heading_container">
          <h1>Background Color : <span class="show_color">Red</span></h1>
          <button class="change_color">Click Me</button>
        </div>
        {{>footer}}
      </div>
      {{>scriptfile}}
</body>
</html>